body {
    background-image: url(images/imgLog.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.area-login {
    display: block;
    width: 50%;
    height: 555px;
    margin-left: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.div-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 355px;
    height: 320px;
    padding: 35px;
    background-color: #A7C1A6;
    border-radius: 15px;
}

.div-log form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.div-log input {
    margin-top: 15px;
    height: 35px;
    background-color: #5c5858;
    border: none;
    border-radius: 8px;
}

form [type="submit"] {
    height: 30px;
    font-size: medium;
    background-color: whitesmoke;
    font-weight: bold;
    color: #5c5858;
}

.div-log img {
    width: 65px;
    height: auto;
}

.div-log ::placeholder {
    color:rgb(192, 184, 175);
}

p {
    margin-top: 25px;
    text-decoration: none;
}



